---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include header.html %}

<body data-theme="{{ site.mode }}" class="notransition">

  <script>
    const body = document.body;
    const data = body.getAttribute("data-theme");

    const initTheme = (state) => {
      if (state === "dark") {
        body.setAttribute("data-theme", "dark");
      } else if (state === "light") {
        body.removeAttribute("data-theme");
      } else {
        localStorage.setItem("theme", data);
      }
    };
 
    initTheme(localStorage.getItem("theme"));
    
    setTimeout(() => body.classList.remove("notransition"), 75);
  </script>

  {% include navbar.html %}
  <div class="wrapper post">
    <main class="page-content" aria-label="Content">
      <article itemscope itemtype="https://schema.org/BlogPosting">

        <header class="header">
          {% if page.tags and page.tags != empty %}
          <div class="tags">
            {% assign tags = page.tags %}
            <span itemprop="keywords">
              {% for tag in tags %}
              <a class="tag"
                href="/tags/#{{tag | downcase | slugify}}">{{tag | upcase }}</a>{% unless forloop.last %},{% endunless %}
              {% endfor %}
            </span>
          </div>
          {% endif %}
          <h1 class="header-title" itemprop="headline">{{ page.title | escape }}</h1>
          {% if page.date %}
          <div class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ page.date | date: "%b %d, %Y" }}
            </time>
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
              <span itemprop="name">{{ site.author.name }}</span>
            </span>
            <time hidden datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">
              {{ page.date | date: "%b %d, %Y" }}
            </time>
            <span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
            <span hidden itemprop="image">{{ page.image }}</span>
            <span hidden itemprop="mainEntityOfPage">{{ page.excerpt }}</span>
          </div>
          {% endif %}
        </header>

        <div class="page-content" itemprop="articleBody">
          {% include anchor_headings.html html=content anchorClass="anchor-head" beforeHeading=true h_min=1 h_max=4 %}
          {% if page.tweet %}
          <p>Comments this article on 
            <a href="https://twitter.com/{{site.twitter}}/status/{{page.tweet}}">Twitter</a>.
          </p>
          {% endif %}
        </div>
     <label><h3>评论区</h3></label><br>
    <label for="input1">请输入你评论的名称：</label>
   
    <input type="text" id="input1" style="background-color: transparent; color: inherit;"><br>
   
     <label for="input2">请输入你评论的内容：</label>    
    <input type="text" id="input2" style="background-color: transparent; color: inherit;"><br>
       
    
   
    <span onclick="callApi()" style="cursor: pointer; text-decoration: underline; color: darkgoldenrod;">点击发送评论</span><br>

    <script>
       function callApi() {
    const input1 = document.getElementById('input1').value;
    const input2 = document.getElementById('input2').value;
    document.getElementById('output').innerText = "正在发送评论";
    document.getElementById('input2').value = '';     

    if (input1.trim() !== '' && input2.trim() !== '' && input1.length <= 50 && input2.length <= 50) {
        fetch('https://9.013145.xyz{{page.id}}', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ [input1]: input2 })
        })
        .then(response => {
            if (response.ok) {
                document.getElementById('output').innerText = "已成功发送评论";
            } else {
                throw new Error('发送失败');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('output').innerText = "发送错误";
        });
    } else {
        console.error('输入框不能为空且输入字符不得超过50个');
        document.getElementById('output').innerText = "内容为空或内容过多";
    }
}
    </script>
        
 <span onclick="fetchData()" style="cursor: pointer; text-decoration: underline; color: darkgoldenrod;">点击查看评论</span>
<p id="output"></p>       
        
<script>
function fetchData() {
     document.getElementById('output').innerText = "正在获取评论";
    fetch('https://9.013145.xyz{{page.id}}')
      .then(response => response.json())
      .then(data => {
        console.log('读取到的所有数据：', data);
      
         let formattedData = data
          .replace(/"/g, '')
          .replace(/{/g, '')
          .replace(/}/g, '\n');
        
        document.getElementById('output').innerText = formattedData;
        console.log('读取到的所有数据：', data);
        
       
      })
      .catch(error => {
        console.error('读取数据时出错：', error);
        document.getElementById('output').innerText = '暂无评论或错误';
      });
}
</script>



        
      </article>
    
      {% if page.comments %}
        {% include comments.html %}
      {% endif %}

    </main>

    {% if page.modified %}
      <small class="post-updated-at">updated_at {{page.modified | date: "%d-%m-%Y"}}</small>
    {% endif %}
    {% if page.next or page.previous %}
      {% include navigation.html %}
    {% endif %}

    {% include footer.html %}
  </div>
</body>

</html>
